---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>

    <meta  property="fb:app_id" content = "3515229345205828" />
    <meta  property="og:locale" content="en_US" />
    <meta  property="og:locale:alternate" content="ka_GE" />
    <meta  property="og:url"  content="{{ site.url }}{{ page.url }}"  />
    <meta  property="og:title"  content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"  />
    <meta  property="og:description"  content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"  />
    <meta  property="og:image"  content= "https://felperez.github.io/images/profile.jpeg" />

    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
